/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 85vw;
}

header {
    background-color: #540B51;
    margin: -1px;
}

h1 {
    font-size: 3em;
    color: white;
    text-align: center;
}

.yellow_text {
    color: #ECB12F;
}

@media (max-width: 768px) {

nav {
    display: flex;
    justify-content: space-between;
    background-color: #540B51;
    padding: 20px;
    margin: 0;
}

#menu {
    display: none;
}

.logo {
    width: 200px;
}

.buttons_up {
   background-color: #540B51;
   border:#540B51;
   padding-right: -10px;
}


#main_text {
    margin:0 ;
    text-align: center;
    padding: 0px 20px;
    color:white;
}

#button_email {
    width: 350px;
    height: 50px;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #540B51;
    margin: 15px 0px;
}

#button_google {
    width: 350px;
    height: 50px;
    text-transform: uppercase;
    font-size: 1.2em;
    color: white;
    background-color: #4285F4;
    padding-bottom: 10px;
}



#logo_google {
    width: 30px;
    background-color: white;
    margin: 2px 25px -10px -50px;
}

#main_image {
    width: 85vw;
    margin-top: 20px;
}


#logos_empresas {
    background-color: #F3EAE2;
    margin-top: -20px;
    padding: 10px 10px;
    width: 85vw;
}

#text_trust {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    margin: 30px 20px 60px 20px ;
}

#logos {
    width: 100px;
}

#sales_team img {
    width: 85vw;
}

#tools img {
    width: 85vw;
}


#apps img {
    width:85vw;
}

#sales_team, #tools, #apps {
    background-color: #F3EAE2;
}
}